body {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.main-container-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*justify-content: center;
  align-content: center;*/
  width: 100%;
  height: auto; 
  

}

.main-search-div {
  width: 100%;
  height: auto;
}

.search-results-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;  
  justify-content: space-around;

}


.search-form-div {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; 
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.24); 

}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  
}

h2 {
  font-size: 1.5rem;
  margin-right: 20px;
  line-height: 10vw;
}

input {
  border-radius: 20px;
  width: 30%;
  height: 35px;
  
}

button {
  width: 10vw;
  background: #2e4bb4;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.507);
  margin: 35px;

}

button:hover {
  background: #4862c4;
}
button:active {
  transition: all .1s;
  background: #798ac7;
  transform: translateY(3px);
  box-shadow: none;
}

.grid-view {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

/*.user-card {  
 
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  
 
}*/

.main-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 40px;
  opacity: 0.9;
}

.navbar {
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 80px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-wrap: no-wrap;
  height: auto;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 5px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 5px 10px -8px rgba(0, 0, 0, 0.42);
}

.search-form-section {
  width: 30%;  
  height: auto;
  border: 1px solid red;
  
}

.search-form{
  width: 100%;
 
}

.search-div {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #00b5ad;
  background-color: white;
  border-radius: 10px;
  height: 26px;
  overflow: hidden; 
  
}

.search {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  height: 100%;
  
}

.search-img {
  width: 20%;
  height: 15px;
  
}

